.hola {
    width: 650px;
    background-color: #fff;
    padding: 0px;
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.header {
background-image: url(./imagenes/header_background.jpeg);
background-attachment: fixed;
background-position: center;
}

h1 {
  color: #fff;
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  margin-left: 100px;
  margin-right: 100px;
}

h3 {
  margin-left: 100px;
  margin-right: ;
}

p {
  margin-left: 100px;
  margin-right: 100px;
  font-family:Inter;
}

/* edicion de imagenes */

img {
  width: 450px;
  height: 280px;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

/* video yt */

iframe {
width: 450px;
height: 280px;
align-items: center;
margin-left: 100px;
margin-right: 100px;
}

/* Edicion de la tabla de repartos */

.foto {
width: 150px;
height: 150px;
}

.fondo {
background-color: rgba(255, 0, 0, 0.432);
}

table {
  margin: auto;
}

/* Edito el carrusel */

.carousel {
 width: 380px;
}

/* Cambiar el tipo de letra */

@font-face {
  font-family:"Roboto" ;
  src: url(./Letra/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

.letra {
  font-family: "Roboto";
}


@font-face {
  font-family:"Inter" ;
  src: url(./Letra/Inter/Inter-VariableFont_opsz\,wght.ttf);
}


@font-face {
  font-family:"Roboto_Condensed" ;
  src: url(./Letra/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

.letra3 {
  font-family: "Roboto_Condensed";
}

.letra2 {
  font-family: "Roboto_Condensed";
}